body {font-family: Verdana, Geneva, sans-serif;}
table {border-collapse: collapse;}

.error {color: red;}
.code {
	font-family: Consolas, "Lucida Console", Monaco, monospace; 
	border:1px solid #cccccc;
	text-align: left;
	padding: 1px;
	display: table-cell;
}
.hexbox {
	width: 310px;
}
.asciibox {
	width: 143px;
}
.titlebox {
    margin: auto;
    width: 60%;
    border:2px solid #cccccc ;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.inputbox {
    margin: auto;
    width: 60%;
    text-align: center;
    margin-top: 10px;
}

#output{
    margin: auto;
    width: 90%;
    text-align: center;
    margin-top: 10px;
}
