body {font-family: Verdana, Geneva, sans-serif;}
table {border-collapse: collapse;}

.error {color: red;}
.titlebox {
    margin: auto;
    width: 60%;
    border:2px solid #cccccc ;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.inputbox {
    margin: auto;
    width: 60%;
    text-align: center;
    margin-top: 10px;
}

#output{
    margin: auto;
    width: 60%;
    text-align: center;
    margin-top: 10px;
}
